<h2>Create new Car</h2>

<form action="/cars/add" method="post">
  Brand:
  <br>
  <input type="text" name="brand" placeholder="Opel" size="30">
  <br>Model:
  <br>
  <input type="text" name="model" placeholder="Corsa" size="30">
  <br>Image:
  <br>
  <input type="text" name="image" placeholder="post image url here" size="30">
  <br>Year:
  <br>
  <input type="text" name="year" placeholder="2000" size="30">
  <br>Price per day:
  <br>
  <input type="number" name="price" placeholder="99.99" step="0.01" min="0">
  <br>
  <br>
  <input type="submit" value="Submit" style="margin-left: 8%">
</form>

