<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/static/images/expressjs-card.png" alt="expressLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/addBook">Add Book</a>
                    </li>
                    <li>
                        <a href="/viewAll">View All Books</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        Copyright © 2018 BookLibrary
    </footer>
</body>

</html>