<p>
    We offers a great selection of deals for car rental in Bulgaria.
    <br> Read on for more details on saving money on your rental and enjoying driving in Bulgaria.
    <br><br>
    <p>We have <b>{{cars}} cars</b> in our car collection database!</p>
    <br><br>
    Thank you!
<p>